services:

  clovalink-backend:
    image: ghcr.io/clovalink/clovalink-backend:latest
    container_name: clovalink-backend
    networks:
      default:
        aliases:
          - backend
    environment:
      - DATABASE_URL=postgres://clovalink:clovalink@clovalink-db:5432/clovalink
      - REDIS_URL=redis://clovalink-redis:6379    
      - JWT_SECRET=dCYlN0UjXA0sO4lQaz0JxMd11U1c0lausHwKrW1Jat8=    #generate-with: openssl rand -base64 32
      - STORAGE_TYPE=local
      - RUST_LOG=info
      - ENVIRONMENT=production
      - CORS_DEV_MODE=false
      - CORS_ALLOWED_ORIGINS=https://tudominio.com
      - CLAMAV_ENABLED=true
      - CLAMAV_HOST=clovalink-clamav
      - CLAMAV_PORT=3310
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - /clovalink/uploads:/app/uploads
    depends_on:
      - clovalink-db
      - clovalink-redis
      - clovalink-clamav

  clovalink-frontend:
    image: ghcr.io/clovalink/clovalink-frontend:latest
    container_name: clovalink-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - clovalink-backend

  clovalink-db:
    image: postgres:16-alpine
    container_name: clovalink-db
    environment:
      - POSTGRES_USER=clovalink
      - POSTGRES_PASSWORD=clovalink
      - POSTGRES_DB=clovalink
    restart: unless-stopped
    volumes:
      - /clovalink/postgres:/var/lib/postgresql/data

  clovalink-redis:
    image: redis:7-alpine
    container_name: clovalink-redis
    restart: unless-stopped
    volumes:
      - /clovalink/redis:/data

  clovalink-clamav:
    image: clamav/clamav-debian:latest
    container_name: clovalink-clamav
    restart: unless-stopped
    volumes:
      - /clovalink/clamav:/var/lib/clamav

